@use '../variables' as *;

.date-range-filter {
  background-color: $surface-color;
  position: sticky;
  top: 0;
  border-radius: 1rem;
  corner-shape: squircle;
  padding: 1.2rem;

  @media (max-width: 1024px) {
    padding: .8rem;
  }

  &.is-stuck {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }

  .title {
    padding: 0;
  }

  .date-range-filter-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
  }

  .range-slider-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0rem 1rem 0;
    margin-top: -1rem;
  }

  .plays-sparkline {
    margin-top: 1rem;
    padding: 0 1rem;
  }

  .range-slider {
    position: relative;
    flex: 1;
    height: 30px;
    cursor: pointer;
    user-select: none;
    touch-action: none; // Prevent default touch behaviors like scrolling
  }

  .range-track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: $border-color;
    border-radius: 3px;
  }

  .range-track-active {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    background-color: $primary-color;
    border-radius: 3px;
    transition: left 0.1s ease, width 0.1s ease;
  }

  .range-handle {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 20px;
    background-color: $primary-color;
    border: 3px solid $surface-color;
    border-radius: 5px;
    cursor: grab;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 2;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
      box-shadow: 0 0 0 8px rgba($primary-color, 0.2);
      z-index: 99;
    }

    &:active {
      cursor: grabbing;
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  .range-label {
    position: absolute;
    top: -35px;
    background-color: $bg-color;
    color: $text-primary;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    font-weight: 600;
    white-space: nowrap;
    border: 1px solid $border-color;
    pointer-events: none;
  }

  .range-handle-start {
    .range-label {
      left: 0%;
      transform: translateX(-10px);
    }
  }

  .range-handle-end {
    .range-label {
      right: 0;
      transform: translateX(10px);
    }
  }
}