@use '../variables' as *;

.app-footer {
  margin-top: auto;
  padding: 4rem 0;

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

hr {
  margin-bottom: 2rem;
  border: none;
  border-top: 1px solid $border-color;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  p,
  a,
  span {
    margin: 0;
    color: $text-primary;
    font-size: 0.9rem;
    text-align: center;
  }
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.language-label {
  color: $text-secondary;
  font-size: 0.9rem;
  font-weight: 500;
}