@use '../variables' as *;

.preview-drawer {
  position: sticky;
  bottom: 0;
  margin: 0 auto;
  background-color: $surface-color;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -4px 24px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: flex;
  padding: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: drawer-slide-in 0.3s ease-out;
  box-sizing: border-box;
  width: 100%;

  @media (max-width: 1024px) {
    padding: .8rem;
  }

  .iframe-wrapper {
    border-radius: 0.7rem;
    overflow: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;

    iframe {
      border: none;
      display: block;
    }
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1024px) {
      margin-bottom: -0.3rem;
    }
  }

  .trackname {
    line-height: 1.1;
  }

  .title-bar-controls {
    display: flex;
  }

  .preview-drawer-link {
    font-size: 0.75rem;
    color: $text-secondary;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.2s;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .25rem;

    &:hover {
      color: $primary-color;
    }


  }

  button.preview-drawer-link {
    svg {
      width: 25px;
    }
  }

  a.preview-drawer-link {
    svg {
      width: 15px;
    }
  }

  .consent-gate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;


    p {
      max-width: 60ch;
    }
  }
}

@keyframes drawer-slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}