@use '../variables' as *;

.preview-drawer {
  position: sticky;
  bottom: 0;
  margin: 0 auto;
  background-color: $surface-color;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -4px 24px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: flex;
  padding: 1rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: drawer-slide-in 0.3s ease-out;
  width: calc(100% - 3rem);



  .iframe-wrapper {
    flex: 1;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
  }

  .preview-drawer-iframe {
    flex: 1;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .title-bar-controls {
    display: flex;
  }

  .preview-drawer-link {
    font-size: 0.75rem;
    color: $text-secondary;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.2s;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: $primary-color;
    }

    svg {
      width: 15px;
    }
  }
}

@keyframes drawer-slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}