@use 'variables' as *;

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    background-color: $bg-color;
    color: $text-primary;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    color: $primary-color;
    letter-spacing: -0.05em;
    line-height: 1.1;
}

.subtitle {
    color: $text-secondary;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}